@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>What is ZkratChess?</h3>

<p>ZkratChess is a toy project to try how elegant it is to create something simple with the new razor pages. 
    The chessboard is at this moment a static member inside of the application. 
    We plan to persist state in files and create more games running simultaneously. </p>
