@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>Who are we?</h3>

<address>
    Richard & Klarka
</address>

<address>
    <strong>GitHub:</strong> <a href="https://github.com/Richard004/zkrat-chess">https://github.com/Richard004/zkrat-chess</a><br />
</address>
