@page
@model HomeModel
@{
    ViewData["Title"] = "Home";
}
<h1></h1>

<div class="container">
    <div class="jumbotron">
        <h1>Welcome to ZkatChess</h1>
        <p>ZkratChess is a toy project to try how elegant it is to create something simple with the new razor pages. 
        The chessboard is at this moment a static member inside of the application. 
        We plan to persist state in files and create more games running simultaneously. </p>
    </div>
<form method="post">
    <p>
    <button type="submit" class="btn btn-info btn-lg">Start a new game!</button>
    </p>
</form>

  <p>
    <a class="btn btn-info btn-lg">Nebo jako co?</a>
  </p>
</div>


<div class="row">
  <div class="col-md-6">
        
  </div>
  <div class="col-md-6">
        
  </div>
</div>


