@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>
    Chessboard
</h1>

<div class="chessboard-class">
    @for (int i = 0; i < 8; i++)
    {
        <div class="row-class">
        @for (int j = 0; j < 8; j++)
        {
            <div class=@(Model.isWhiteField(i,j)?"field-white-class":"field-black-class")>
                @Model.getCharAt(i, j)
            </div>
        }
        </div>
    }
</div>
<br />
<form action="Step" method="post">
    <input asp-for="Step" name="step" value="" />
    <button type="submit" class="btn btn-default">Go</button>
</form>


<style>
    .field-white-class {
        background-color: floralwhite;
        width: 30px;
        height: 30px;
    }
    .field-black-class {
        background-color: rgb(100,100,100);
        width: 30px;
        height: 30px;
    }
    .row-class {
        position: relative;
        display: inline-flex;
        text-align: center;
        color: black;
    }
    .chessboard-class {
        position: relative;
        display: flex;
        flex-direction:column;
    }

</style>